{% extends 'deckfusion/base.html' %}
{% block content %}
  <div class="w-screen h-screen bg-gray-300 pt-20">
    <div class="w-[500px] mx-auto text-center">
      <h1 class="text-4xl">Welcome to</h1>
      <div class="ml-10">
        <img src="https://cdn.prod.website-files.com/652eb3ce028ceb9c8b42dd79/6537e7d6d5db65976b8f32a7_DeckFusion%20Logo.svg" alt="logo">
      </div>


      <div class="mt-20 text-blue-700">
        <a href="/brand/info" class="text-4xl">Let's start with your brand!</a>
      </div>
    </div>
  </div>
{% endblock content %}
